/* Fondo global */
body {
  margin: 0;
  padding: 0;
  background-image: url('/assets/background.jpg'); /* Ruta de tu imagen */
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  font-family: 'Roboto', sans-serif;
  overflow: hidden;
}

/* Para asegurar que el contenido siempre esté centrado sobre el fondo */
#root {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
